
@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    min-width: 550px;
    transition: 0.7s;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    
}



.input-search{
    min-width: 35rem;
    background-color: rgb(4,4,46);
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    @apply border  
         focus:border-purple-950 
           focus:outline-none 
           focus:ring 
           focus:ring-purple-950
          
    
     
}

.icon-search{

    @apply transition ease-out delay-300 
            hover:-translate-y-1 
            hover:scale-110  duration-300 ;
    
    
}

@media screen and (max-width: 800px) {
    .input-search {
       min-width: 20rem;
       margin-top: 30px;
    }
    header{
        margin-left: 50px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    
}