
.container-fechas  label {
   color:white;
   padding-right:10px;
   font-size: 20px;
   font-weight: bold;
}

.container-fechas select{
  margin-top: 30px;
}

.container-fechas select,.container-categoria select {
    background-color: rgb(4,4,46);
    color: white;
    @apply border-4 border-purple-950 rounded-lg p-2 cursor-pointer mr-20
  }
 
  
  ::-webkit-scrollbar {
    width: 16px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color:  rgb(4,4,46);; 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background-color: yellow; 
    border-radius: 3px; 
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-950
  }
  

