
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body, html{
    background: rgb(4,4,46);
    background: radial-gradient(circle, rgba(4,4,46,1) 41%, rgba(4,4,22,1) 91%);
}


.container-search{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(56, 56, 56, 0.137);
}

.films{
    width: 100%;
    height: auto;
}

 .container:hover .films{
    border-radius: 0 0 20px;
    transition: .5s;
    position: relative;

  
}

.container:hover .films {
    border: solid 3px yellow;
    transition: 0.5s;
    @apply scale-110 translate-x-10 translate-y-12;
    box-shadow: -42px -18px 90px 18px rgba (0,0,0,0.64);
    -webkit-box-shadow: -42px -18px 90px 18px rgba(146, 18, 114, 0.452);
    -moz-box-shadow: -42px -18px 90px 18px rgba(146, 18, 114, 0.041); 
   
}


.container .title-films{
    visibility: hidden;
    font-weight: bold;
    font-size: 20px;
    margin-top: 40px;
 
    

}

.container .title-films {
    visibility: hidden;
    font-weight: bold;
    font-size: 20px;
}

.container:hover .title-films{
    visibility: visible;
    transition: 1s;
    @apply scale-110 translate-x-10 translate-y-12;

}

.viewTrailler{
    min-height: 500px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
}

.reproductor_container{
    width: 100%;
    height: 100%;
}


.container-menu{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 100px;
    margin-top: 10rem;
    height: 60px;
    background: radial-gradient(circle, rgba(4,4,46,1) 41%, rgba(4,4,22,1) 91%);
}


@media screen and (max-width: 800px) {
    .container-menu{
        flex-direction: column;
        align-items: flex-start;
    
    }
}